<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.sadraa.detoxiom">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk tools:overrideLibrary="co.ronash.pushe" />
    <permission android:name="me.sadraa.detoxiom.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="me.sadraa.detoxiom.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".features.main_activity.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".features.widget.DetoxiomWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/detoxiom_widget_info" />
        </receiver>

        <activity android:name=".features.widget.DetoxiomWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".features.about_app.AboutActivity" />
        <activity
            android:name=".features.about_app.IntroActivity"
            android:label="@string/title_activity_intro"
            android:theme="@style/AppTheme"></activity>

        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="me.sadraa.detoxiom"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="co.ronash.pushe.receiver.PusheGcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="me.sadraa.detoxiom" />
            </intent-filter>
        </receiver>

        <meta-data android:name="co.ronash.pushe.token" android:value="PUSHE_1081193882799"/>
        <meta-data android:name="co.ronash.pushe.cr" android:value="Tm9uZQ=="/>

    </application>

</manifest>